name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Format check
      run: cargo fmt --check
    - name: Clippy (no_std)
      run: cargo clippy --verbose
    - name: Clippy (with tests)
      run: cargo clippy --verbose --tests
    - name: Tests
      run: cargo test --verbose
